
@font-face {
    font-family: 'RubiasTinyScript';
    src: url('../fonts/open-ttf/RubiasTinyScript.ttf') format('truetype');
}


@font-face {
    font-family: 'KAME';
    src: url('../fonts/open-ttf/KAME.ttf') format('truetype');
}

@font-face {
    font-family: 'VtksRash';
    src: url('../fonts/open-ttf/VtksRash.ttf') format('truetype');
}


@font-face {
    font-family: 'CFFlowers';
    src: url('../fonts/open-ttf/CFFlowersofDestinyPersonal.ttf') format('truetype');
}


@font-face {
    font-family: 'foxInTheSnow';
    src: url('../fonts/open-ttf/foxInTheSnow.ttf') format('truetype');
}


@font-face {
    font-family: 'DJBAngelBaby';
    src: url('../fonts/open-ttf/DJB Angel Baby.ttf') format('truetype');
}


@font-face {
    font-family: 'ZombieTreats';
    src: url('../fonts/open-ttf/ZombieTreats.ttf') format('truetype');

}


@font-face {
    font-family: 'DJBChubbyMuffins';
    src: url('../fonts/open-ttf/DJBChubbyMuffins.ttf') format('truetype');

}

@font-face {
    font-family: 'segoesc';
    src: url('../fonts/open-ttf/segoesc.ttf') format('truetype');

}

