img {
  max-width: 100%;
  /*height: auto;*/
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media (max-width: 600px) {
	
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}

/* Pantallas de gran resolución ----------- */

@media all and (max-width : 1920px) {
    .fecha,.logo,#cont-menu .c-memu, #cont-pantalla .pantalla  {
        width: 65%;
    }
  
}
 
/* PCs de escritorio y portátiles ----------- */
@media all and (max-width : 1370px) {
     .fecha,.logo,#cont-menu .c-memu, #cont-pantalla .pantalla  {
        width: 85%;
    }
     #cont-pantalla .pantalla  {
        width: 75%;
    }
 
}
 
/* Tabletas (Vertical y Horizontal) ----------- */
@media all and (max-width : 1024px) {




.contenido,#cont-principal .princi {
    width: 100%;
} 


.navbar .nav>li {
	text-align:center;
	border-bottom:#FFF 1px solid;
}
.td-right,.td-left,.td-center {
    text-align:left
        }
}
 /* @media all and (min-width : 768px) { } */
/* Tabletas (Horizontal) ----------- */
@media all and (max-width : 800px) {
 


#cont-menu .c-memu ,#contenedor,#contenedor1{
    width: 100%;
}


	

.navbar .nav>li {
	text-align:center;
	border-bottom:#FFF 1px solid;
}

}
 
/* Pequeñas Tabletas (Vertical y Horizontal)
@media all
and (min-width : 600px)
and (max-width : 800px) {
 
}
  ----------- */
/* Pequeñas Tabletas (Apaisado o Horizontal) y Tabletas (Vertical) ----------- */
@media all and (max-width : 750px) {
 
}
 
/* Smartphones (Apaisado o Horizontal) -
@media all and (max-width : 640px) {
 
}
 ---------- */
/* Pequeñas Tabletas (Vertical) ----------- */
@media all and (max-width : 600px) {
#contenedor-cabezeras {
margin-bottom: 40px;
padding-bottom:20px;
}

#cont-menu .c-memu ,#contenedor,#contenedor1{
    width: 100%;
}


.navbar .nav>li {
	text-align:center;
	border-bottom:#FFF 1px solid;
}
.footer
	{
		width:100%;
		}
  form > div {
    margin: 0 0 5px 0; 
  }
  form > div > label,
  legend {
	width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }

  .cabezera> div > label,
  legend {
	width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  .cabezera > div > div,
  .cabezera > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }

}
 @media (min-width: 480px) and (max-width: 800px) {
     
    .spa-0-2-5 ,.spa-0-5 ,.spa-0-7-5 ,.spa-1 ,.spa-1-2-5 ,.spa-1-5 ,.spa-1-7-5 ,.spa-2 ,.spa-2-2-5 ,.spa-2-5 ,.spa-2-7-5 ,.spa-3 ,.spa-3-2-5 ,.spa-3-5 ,.spa-3-7-5 ,.spa-4 ,.spa-4-2-5 ,.spa-4-5 ,.spa-4-7-5 ,.spa-5 ,.spa-5-2-5 ,.spa-5-5 ,.spa-5-7-5 ,.spa-6 ,.spa-7,.spa-8 ,.spa-9 ,.spa-10 ,.spa-11,.spa-12 {
      width: 100%;
    }
    .row {
        margin-right: 0;
    }
    
}
 @media (min-width: 480px) and (max-width: 568px) {
    
    #timeGe {
            display:none;
        }
    
    .new{
        background-image: none;
        font-size: 12px;
    }
    
    .login {
        width:65%;
    }
    
    p {
        font-size: 12px;
    }
    
    
}
/* Smartphones (Vertical y Horizontal) ----------- */
@media all
and (min-width : 320px)
and (max-width : 480px) {
    #timeGe {
        display:none;
    }
    
    .new{
        background-image: none;
        font-size: 12px;
    }
    
    .logo {
        text-align: center;
    }

    .total {
            width: 65%;
    }
 .dashboard {
        padding: 5em 0em !important;
    }
}
 
/* Smartphones (Vertical) ----------- */
@media all and (max-width : 480px) {
body,html {
	
}
.dashboard {
    padding: 5em 0em !important;
}
.logo {
    text-align: center;
}
#cont-menu .c-memu ,#contenedor,#contenedor1{
    width: 100%;
}
.login {
	width:90%;
}

.spa-0-2-5 ,.spa-0-5 ,.spa-0-7-5 ,.spa-1 ,.spa-1-2-5 ,.spa-1-5 ,.spa-1-7-5 ,.spa-2 ,.spa-2-2-5 ,.spa-2-5 ,.spa-2-7-5 ,.spa-3 ,.spa-3-2-5 ,.spa-3-5 ,.spa-3-7-5 ,.spa-4 ,.spa-4-2-5 ,.spa-4-5 ,.spa-4-7-5 ,.spa-5 ,.spa-5-2-5 ,.spa-5-5 ,.spa-5-7-5 ,.spa-6 ,.spa-7,.spa-7-5,.spa-8 ,.spa-9 ,.spa-10 ,.spa-11,.spa-12 {
  width: 100%;
}
  .separador .spa-4:nth-child(2) {
    float: right;
  }
  .separador .spa-4:nth-child(3) {
    clear: both;
    float: left;
  }
  .separador .spa-4:nth-child(4) {
    float: right;
  }

}
 
/* Pequeños Smartphones (Apaisado o Horizontal) ----------- */
@media all and (max-width : 430px) {
body,html {
		}

#cont-menu .c-memu ,#contenedor,#contenedor1{   
    width: 100%;
}
.login {
	width:90%;
	}
.footer {
	width:100%;
}/*
.spa13,.spa12,.spa11,.spa10,.spa9,.spa8,.spa7,.spa6,.spa5,.spa4,.spa2,.spa3,.spa1,.spa10000,.spa10001,.spa100011{	
	width:320px;
}*/


.toolbar {
	padding-left:10px;							
}
.toolbar-cont {
	margin-left:10px;
	}
/*.nav-tabs {
	font-size:13px;
} */
}
 
/* Smartphones (Vertical) ----------- */
@media all and (max-width : 375px) {
 
}
 

@media only screen and (max-width: 759px) {
  table.responsive {
    border: none;
  }
    .dashboard {
        padding: 7em 3em 0em 3em !important
    }
  table.responsive thead {
    display: none;
  }
  table.responsive tr, table.responsive td, table.responsive th {
    border: none;
  }
  table.responsive tr {
    display: block;
    width: 100%;
    border-bottom: 1px solid #DDD;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
  }
  table.responsive td, table.responsive th {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    width: 100%;
    padding: 0;
    text-align: left !important;
  }
  table.responsive td:before, table.responsive th:before {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    width: 100px;
    background: #4E2FA2;
    padding: 2px 10px 2px 10px;
    content: attr(data-label) ":";
    font-weight: 500;
    color: #FFF;
    font-weight: bold;
  }
  
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
      margin: 0;
      padding: 0;
  }
  table.responsive input[type=text] {
    text-align: left !important;
    padding-left: 10px;
  }
  
}
