
form .stars {
  background: url("../img/stars.png") repeat-x 0 0;
  width: 90px;
}
.ie7 form .stars {
  *zoom: 1;
}
form .stars:before,
form .stars:after {
  display: table;
  content: "";
}
form .stars:after {
  clear: both;
}
form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 70%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 30%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -28px;
}
form .stars label.star-3:hover ~ span {
  width: 100% !important;
}
form .stars label.star-2:hover ~ span {
  width: 70% !important;
}
form .stars label.star-1:hover ~ span {
  width: 30% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("../img/stars.png") repeat-x 0 -56px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}
